*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

form {
    text-align: left;
    width: 50%;
    margin: 92px auto;
}

#form-title {
    font-size: 36px;
    font-weight: 600;
    color: #101828;
}

#form-subtitle {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 48px;
    color: #475467;
}

#name-inputs {
    display: flex;
    justify-content: space-between;
    
}

label {
    font-size: 14px;
    color: #344054;

}


#email,
#message,
#btn__submit {
    padding: 10px 14px;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 24px;
    color: #667085;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

#first_name{
    padding: 10px 14px;
        font-size: 16px;
        margin-top: 6px;
        color: #667085;
        border: 1px solid #D0D5DD;
        border-radius: 8px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
#last_name{
    padding: 10px 14px;
        font-size: 16px;
        margin-top: 6px;
        color: #667085;
        border: 1px solid #D0D5DD;
        border-radius: 8px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

#first_name,
#last_name {
    min-width: 325px;
    display: flex;
    gap: 6px;
}
.validation {
    margin:6px;
    color: #F83F23;
}


#email,
#message {
    width: 100%;
}

textarea {
    font-family: inter;
    height: 132px;
}

#data-confirmation {
    margin-right: 12px;
}

#btn__submit {
    width: 100%;
    background: #1570EF;
    color: white;
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
    margin-top: 32px;
}

@media (max-width: 768px) {
    form {
        text-align: left;
        width: 90%;
        margin: 64px 16px;
    }

    #form-subtitle {
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 40px;
    }

    #name-inputs {
        display: block;
    }

    #first_name,
    #last_name {
        min-width: 100%;
    }

}